{% extends "layouts/auth.html" %}
{% load static i18n %}

{% block title %}
    Reset Password
{% endblock title %}

{% block content %}
    <div class="flex grow items-center justify-center mx-auto px-4 relative">
        <div class="my-10 w-full sm:w-96">
            <!-- Header -->
            {% include 'account/components/form_header.html' with subtitle='Forgot your password?' title='Reset Password' %}

            <!-- Instructions -->
            <div class="mb-6">
                <p class="text-sm text-(--text-body)">
                    {% trans "Enter your email address below, and we'll send you an email allowing you to reset it." %}
                </p>
            </div>

            <!-- Display Errors -->
            {% include 'account/components/error_display.html' %}

            <!-- Password Reset Form -->
            <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}

                <!-- Form Fields -->
                <div class="grid grid-cols-1 gap-y-5">
                    <!-- Email Field -->
                    {% include 'forms/text_input.html' with label=form.email.label type='email' name=form.email.html_name id=form.email.id_for_label value=form.email.value required=form.email.field.required has_error=form.email.errors error_message=form.email.errors.0 help_text=form.email.help_text %}
                </div>

                <!-- Submit Button -->
                <div class="flex flex-col gap-3 mt-6">
                    {% include 'buttons/primary.html' with text='Reset Password' %}
                </div>
            </form>

            <!-- Back to Login Link -->
            {% include 'buttons/text_link.html' with text='Remember your password?' url='account_login' link_text='Log In' %}
        </div>
    </div>
{% endblock %}