# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Django
*.log
db.sqlite3
media/
staticfiles/
collected_static/

# Environment
.env

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# Other
README.md
Dockerfile
.dockerignore