<!-- Reusable Component: DateTime Input Field -->

<div class="flex flex-col group {{ margin_class }} {% if col_span == '2' %}lg:col-span-2{% elif col_span == '3' %}lg:col-span-3{% endif %}">
    <div class="flex flex-col gap-2">
        <!-- Label -->
        <label for="{{ id }}" class="block font-semibold text-sm text-(--text-title)">
            {{ label }}
            {% if required %}
                <span class="text-(--color-important)">
                    *
                </span>
            {% endif %}
        </label>

        <!-- DateTime Input Field -->
        <input
            type="datetime-local"
            name="{{ name }}"
            id="{{ id }}"
            {% if value %}
                value="{{ value }}"
            {% endif %}
            {% if min %}
                min="{{ min }}"
            {% endif %}
            {% if max %}
                max="{{ max }}"
            {% endif %}
            {% if step %}
                step="{{ step }}"
            {% endif %}
            {% if required %}
                required
            {% endif %}
            {% if tabindex %}
                tabindex="{{ tabindex }}"
            {% endif %}
            class="border font-medium min-w-20 px-3 py-2 w-full rounded shadow-xs text-(--text-body) text-sm focus:outline-2 focus:-outline-offset-2 focus:outline-(--color-accent)
                   {% if has_error %}
                       border-(--input-border-error) bg-(--input-bg-error)
                   {% else %}
                       border-(--border-default) bg-(--bg-surface)
                   {% endif %}"
        >

        <!-- Error Message -->
        {% if error_message %}
            <span class="text-(--text-error) text-xs">
                {{ error_message }}
            </span>
        {% endif %}

        <!-- Help Text -->
        {% if help_text and not error_message %}
            <span class="text-(--text-muted) text-xs">
                {{ help_text|safe }}
            </span>
        {% endif %}
    </div>
</div>