<!-- Reusable Component: Password Input Field with Toggle -->

<div class="flex flex-col group {{ margin_class }} {% if col_span == '2' %}lg:col-span-2{% elif col_span == '3' %}lg:col-span-3{% endif %}">
    <div class="flex flex-col gap-2">
        <!-- Label and Forgot Password -->
        <div class="flex items-center justify-between">
            <label for="{{ id }}" class="block font-semibold text-sm text-(--text-title)">
                {{ label }}
                {% if required %}
                    <span class="text-(--color-important)">
                        *
                    </span>
                {% endif %}
            </label>
            {% if forgot_password_url %}
                <div class="text-sm">
                    <a href="{% url forgot_password_url %}" class="font-medium text-sm text-(--color-accent) hover:underline">
                        Forgot password?
                    </a>
                </div>
            {% endif %}
        </div>

        <!-- Password Input with Toggle -->
        <div class="relative">
            <input
                type="password"
                name="{{ name }}"
                id="{{ id }}"
                {% if placeholder %}
                    placeholder="{{ placeholder }}"
                {% endif %}
                {% if required %}
                    required
                {% endif %}
                {% if tabindex %}
                    tabindex="{{ tabindex }}"
                {% endif %}
                {% if autocomplete %}
                    autocomplete="{{ autocomplete }}"
                {% endif %}
                class="border font-medium min-w-20 px-3 py-2 pr-10 w-full placeholder-base-400 rounded shadow-xs text-(--text-body) text-sm focus:outline-2 focus:-outline-offset-2 focus:outline-(--color-accent)
                       {% if has_error %}
                           border-(--input-border-error) bg-(--input-bg-error)
                       {% else %}
                           border-(--border-default) bg-(--bg-surface)
                       {% endif %}"
            >
            <button
                type="button"
                class="absolute inset-y-0 right-0 flex items-center px-2 mr-1 my-0.5 rounded-full text-(--text-title) cursor-pointer password-toggle-button"
                data-target-id="{{ id }}">
                <span class="material-symbols-outlined text-xl! text-(--text-muted)">
                    visibility
                </span>
            </button>
        </div>

        <!-- Error Message -->
        {% if error_message %}
            <span class="text-(--text-error) text-xs">
                {{ error_message }}
            </span>
        {% endif %}

        <!-- Help Text -->
        {% if help_text and not error_message %}
            <span class="text-(--text-muted) text-xs">
                {{ help_text|safe }}
            </span>
        {% endif %}
    </div>
</div>