{% extends "base.html" %}
{% load static %}

{% block body %}
    <!-- Navbar -->
    <header class="border-b border-(--border-default)">
        {% include 'components/navbar/navbar.html' %}
    </header>

    <!-- Main Content -->
    <main class="flex grow bg-(--bg-page)">
        <!-- Toast Messages -->
        {% if messages %}
            {% include 'components/messages/container.html' %}
        {% endif %}

        <!-- Page Content -->
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="border-t border-(--border-default)">
        {% include 'components/footer/footer.html' %}
    </footer>
{% endblock body %}

{% block scripts %}
    {{ block.super }}

    <!-- Navigation Scripts -->
    <script src="{% static 'js/components/navbar/desktop-nav.js' %}" type="module"></script>
    <script src="{% static 'js/components/navbar/mobile-nav.js' %}" type="module"></script>

    <!-- Messages Animation Scripts -->
    <script src="{% static 'js/components/messages/toast-animation.js' %}" type="module"></script>
{% endblock %}