<!-- Reusable Component: Danger Button -->

<button
    {% if id %}id="{{ id }}"{% endif %}
    type="{{ type|default:'button' }}"
    {% if name %}name="{{ name }}"{% endif %}
    {% if tabindex %}tabindex="{{ tabindex }}"{% endif %}
    {% if onclick %}onclick="{{ onclick }}"{% endif %}
    {% if disabled %}disabled{% endif %}
    class="{{ class|default:'w-full' }} font-medium flex group items-center gap-2 px-4 py-2 rounded justify-center whitespace-nowrap cursor-pointer border border-transparent bg-(--button-danger-text) text-white hover:bg-(--button-danger-text)/90 transition-colors text-sm
           {% if disabled %}
               opacity-50 cursor-not-allowed pointer-events-none
           {% endif %}"
>
    <!-- Left Icon -->
    {% if icon_left %}
        <span class="material-symbols-outlined text-sm!">
            {{ icon_left }}
        </span>
    {% endif %}

    <!-- Button Text -->
    {{ text }}

    <!-- Right Icon -->
    {% if icon_right %}
        <span class="material-symbols-outlined text-sm!">
            {{ icon_right }}
        </span>
    {% endif %}
</button>