name: Run Tests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Enable caching
        uses: actions/cache@v4
        with:
          path: ~/.cache/uv
          key: ${{ runner.os }}-uv-${{ hashFiles('uv.lock') }}

      - name: Set up Python
        run: uv python install

      - name: Create test environment file
        run: |
            echo "DEBUG=True" >> .env
            echo "ALLOWED_HOSTS=localhost,127.0.0.1" >> .env

      - name: Install dependencies
        run: uv sync

      - name: Run tests
        run: make test